/* Global Container Style */
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }
}

