.new-arrivals {
    background: var(--light-gray);
    overflow: hidden;
}

.arrivals-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    border: 1px solid (var(--primary-gold));
}

.arrival-card {
    text-align: center;
    transition: var(--transition);
    border-bottom: 2px solid var(--primary-gold);
}

.arrival-card:hover {
    transform: translateY(-10px);
}

.new-badge {
    position: absolute;
    top: 15px;
    right: 15px;
    background: var(--primary-gold);
    color: var(--black);
    padding: 8px 20px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 20px;
}


.arrival-card h3 {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    margin-bottom: 10px;
    color: var(--black);
}

.arrival-card p {
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-gold);
}
