.profile-container {
  max-width: 1000px;
  margin: 100px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #1a1a1a;
}

.profile-title {
  text-align: center;
  margin-bottom: 30px;
  color: #D4AF37;
}

.orders-grid {
  display: grid;
   grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.order-card {
  background-color: #f5f5f5;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.order-card:hover {
  transform: translateY(-5px);
}

.order-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.order-details {
  padding: 15px;
}

.order-details h3 {
  margin: 0 0 10px;
  color: #B8960F;
}

.order-details p {
  margin: 5px 0;
}

.no-orders {
  text-align: center;
  font-size: 26px;
  color: #999;
}
@media screen and (max-width:600px) {
    .orders-grid {
        grid-template-columns: repeat(1, 1fr);
    }

}