.sidebar {
  position: fixed;
  top: 4rem;
  left: 0;
  width: 16rem;
  min-height: 100vh;
  background-color: var(--dark-gray);
  color: var(--white);
  padding: 1rem;
  z-index: 50;
  transform: translateX(-100%);
  transition: var(--transition);
}

.sidebar.active {
  transform: translateX(0);
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  gap: 0.5rem;
}

.sidebar li {
  margin-bottom: 0.25rem;
}

.sidebar li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: clamp(16px,2vw,28px);
  text-decoration: none;
  color: var(--primary-gold);
  cursor: pointer;
  transition: var(--transition);
}

.sidebar li a:hover {
  background-color: var(--medium-gray);
}

.sidebar li a.active {
  background-color: var(--black);
}

.sidebar-submenu {
  margin-left: 1.5rem;
  margin-top: 0.5rem;
}

.sidebar-submenu li a {
  font-size: 0.875rem;
  padding: 0.25rem 0.75rem;
  color: var(--primary-gold);
}

.sidebar-submenu li a.active {
  background-color: var(--black);
}

.sidebar-submenu li a:hover {
  background-color: var(--medium-gray);
}