PORT=5000 
MONGODB_URI=mongodb+srv://perfume-store:xsz0eFfseioKnA8w@cluster0.rbsy2sg.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
JWTSECRET=YousefEraky123!-+HelloFirstProjectNodeAndReact 
CLIENT_URL=http://localhost:5173 
NODE_ENV=development 
CLOUD_NAME=doatse7dc 
CLOUD_API_KEY=518196564931583 
CLOUD_API_SECRET=uHv2PLWtD-ORE_-o7TNUG3YF7nc  

